
LD_PRELOAD=/lscratch2/smukher/new-hobbes-LANL-cray/nvl/src/nvl/pisces/cray/xpmem_chnl_client.so LD_LIBRARY_PATH=/lscratch2/smukher/new-hobbes-LANL-cray/petlib:/lscratch2/smukher/new-hobbes-LANL-cray/hobbes/whitedb-0.7.3/Main/.libs:/lscratch2/smukher/new-hobbes-LANL-cray/hobbes/libhobbes:/lscratch2/smukher/new-hobbes-LANL-cray/xpmem/lib ./ping_pong -v

